<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body id="bb">
<audio id="music" autoplay="autoplay">
    <source src="../public/invcalling.mp3">
</audio>
<span id="test"></span>
<!--<img src="../public/images/1.jpg" onclick="doMusic()" style="width: 30px;height: 30px" touchstart="start()"><br>-->
<a href="http://tangtang.gitcafe.io/media/card.html">试试效果</a>
<script type="text/javascript" src="../public/javascripts/public/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="../public/javascripts/js/login.js"></script>
</body>

</html>



