<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
  <link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
<input id="txt" type="text" placeholder="查询">
<input type="button" value="查询" onclick="findTxt()">
<div style="margin-top: 50px;margin-left: 40px"><table id="table"></table></div>
<script type="text/javascript" src="../public/javascripts/public/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="../public/javascripts/js/payInfo.js"></script>
</body>
</html>
